html,body {
  width:100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  color: #2c3e50;
  font-family: Source Sans Pro, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}



.logo {
  width: 100px;
  height: 100px
}

.el-menu-item a {
  display: block;
  color: #c0ccda;
  text-decoration: none;
}